tr:nth-child(odd){
    background-color: #92CBF1;
}
tr:nth-child(even){
    background-color: #5B87A5;
}
thead tr{
    background-color: #5B87A5;
}

.imgSize{
    width: 75%;
}

@media (min-width: 768px) {
    .imgSize{
        width: 25%;
    }
}
@media (min-width: 992px) {
    .imgSize{
        width: 25%;
    }

}

